include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include mautic *.css
recursive-include mautic *.csv
recursive-include mautic *.html
recursive-include mautic *.ico
recursive-include mautic *.js
recursive-include mautic *.json
recursive-include mautic *.md
recursive-include mautic *.png
recursive-include mautic *.py
recursive-include mautic *.svg
recursive-include mautic *.txt
recursive-exclude mautic *.pyc